{
  "ConnectionStrings": {
    "DefaultConnection": "Server=.;Database=LecRate;User Id=sa;Password=YOUR_PASSWORD;TrustServerCertificate=True;"
  },
  "Jwt": {
    "Key": "PUT_A_LONG_RANDOM_SECRET_KEY_HERE_MIN_32_CHARS",
    "Issuer": "LecRateAPI",
    "Audience": "LecRateUsers"
  },
  "AnonymousEval": {
    "SecretKey": "PUT_YOUR_ANONYMOUS_HASH_SECRET_HERE"
  }
}
